
.Divbody{
    border: 3px solid black;
    width:80vmax;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(154, 182, 189);
    box-shadow: 0px 0px 7px 7px rgb(250, 162, 152);
    text-align: center;
    margin-top: 20px;
}
.heading{
    background-color: rgb(12, 74, 85);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    text-align: center;
}
#root{
    display: flex;
    justify-content: center;
}
.Divbody:hover{
    background-color: rgb(250, 162, 152);
    box-shadow: 0px 0px 7px 7px rgb(154, 182, 189);
}
.heading:hover{
    color: black;
    background-color: teal;
}
.itemlabel{
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
}
.item{
    background-color: teal;
    color: wheat;
    font-size: 20px;
    margin: 10px;
}
.btn{
    width: 50%;
    background-color: rgb(12, 97, 69);
    color: thistle;
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.show{
    font-size: 20px;
    
}
.Showmain{
    text-align: left;
}
.Show1{
    display: inline-block;
    margin-left: 10px;
}
.Show2{
    display: inline-block;
    margin-left: 10%; 
    color:rgb(12, 74, 85);  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Show3{
    display: block;
    float: right;
    margin-right: 10px;
    margin-top: 25px;
}
.Show4{
    display: block;
    float: right;
    margin-right: 10px;
    margin-top: 25px;
}
.Logindiv{
    width: 400px;
    height:350px;
    position: relative;
    margin-top: 20%;
    background-color: rgb(196, 199, 207);
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 5px 5px rgb(97, 96, 88);
    border-radius: 25px;
}

.Registerdiv{
    width: 450px;
    height:350px;
    position: relative;
    margin-top: 20%;
    background-color: rgb(196, 199, 207);
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 5px 5px rgb(97, 96, 88);
    border-radius: 25px;
}
.Logindiv:hover{
    opacity: 0.95;
    
    background-color: rgb(193, 198, 212);
}
.Registerdiv:hover{
    opacity: 0.95;
    
    background-color: rgb(193, 198, 212);
}
.Registerlabel{
    
    font-size: 22px;
    margin-top: 20%;
}
.Registerinput1{

    font-size: 15px;
    padding: 5px;
    background-color: lemonchiffon;
    color: blueviolet;
    margin-left: 122px;

}

.Registerinput2{

    font-size: 15px;
    padding: 5px;
    background-color: lemonchiffon;
    color: blueviolet;
    margin-left: 90px;

}
.Registerinput3{
    margin-top: 15px;
    font-size: 15px;
    padding: 5px;
    background-color: lemonchiffon;
    color: blueviolet;
    margin-left: 10px;

}
.Loginlabel{
    font-size: 20px;
    margin-top: 20%;
}
.Logininput1{
    font-size: 15px;
    padding: 5px;
    background-color: lemonchiffon;
    color: blueviolet;
    margin-left: 36px;
}

.Logininput2{
    font-size: 15px;
    padding: 5px;
    background-color: lemonchiffon;
    color: blueviolet;
    margin-left: 7px;
}
.Loginbutton{
    margin-left: 35%;
    margin-top: 10px;
    font-size: 20px;
    width: 100px;
    background-color: lemonchiffon;
    color: black;
}
.Registerbutton{
    margin-left: 35%;
    font-size: 20px;
    width: 100px;
    background-color: lemonchiffon;
    margin-top: 13px;
}

.Loginbutton:hover{
    background-color: blueviolet;
    color:white;
}
.Loginbuttonlink:hover{
    color: white;
}

.Errorheading{
    color:red;
    text-align: center;
}

.Logoutbutton{
    background-color: rgb(12, 74, 85);   
    font-size: 20px;
}
.Logoutbuttonlink{
    background-color: rgb(12, 74, 85);   
    font-size: 20px;
    color: white;
}
.Errorkdiv1{
align-items: center;

}
.Errorheading1{
    color:rgb(66, 155, 7);
    text-align: center;
}